# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Compiled JS files and their .map files
*.js
*.js.map

# Demo
demo/app/*.js
demo/*.d.ts
demo/*.js.map
demo/platforms
demo/node_modules

# IDEs
.vscode/
.idea/